.editor {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}


.editor main {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2.5rem;
}

.editor footer {
    bottom: 0;
    width: 100%;
    height: 50px;
    background-color: orangered;
}

.dashboard {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(5, 3.5rem);
    grid-template-rows: repeat(6, 3.5rem);
    margin: 0;
}

.grid-span-5 {
    grid-column-start: 1;
    grid-column-end: 6;
}

.grid-span-2 {
    grid-column: span 2;
}

button {
    /* width: 3.5rem; */
    padding: 0.5rem;
    background-color: white;
    border-radius: 10px;
    border: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1rem;
    font-weight: 500;
    box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.2);
    font-weight: 600;
}

.dashboard img {
    width: 100%;
}

button input {
    padding: 0;
    position: absolute;
    margin: 0;
    padding: 0;
    visibility: hidden;
}

.dashboard input {
    height: 3.5rem;
    border-radius: 10px;
    border: none;
    padding: 0px 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 23px;
    border: 2px solid orangered
}

.orange {
    background-color: orangered;
    color: white;
}

.button-container button {
    background-color: white;
    border: none;
    border-radius: 10px;
    margin: 5px 5px 5px;
    padding: 10px;
}

.download {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    padding: 10px;
    text-decoration: none;
    border: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1rem;
    font-weight: 600;
    box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.2);

}

#color-picker {
    display: none;
}

.download-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-around;

}

.download-bar button {
    border-radius: 10px;
    background-color: orangered;
    color: white;
}