* {
    box-sizing: border-box;
}

html {
    overflow-y: scroll;
}

body {
    margin: 0;
    background-color: lightgrey;
}

header {
    height: 75px;
    width: 100%;
    background-color: orangered;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    /* padding-left: 2rem; */
    /* padding-right: 2rem; */
}

ul {
    /* width: 100%; */
    display: flex;
    gap: 3rem;
    margin-right: 3rem;
}

ul li {
    list-style-type: none;
    /* margin-left: 55px; */
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif
}

/* .menu-icon { */
    /* display: block; */
    /* width: 30px; */
    /* height: 20px; */
    /* position: relative; */
/* } */

/* .menu-icon span { */
    /* display: block; */
    /* position: absolute; */
    /* height: 3px; */
    /* width: 100%; */
    /* background: #292929; */
    /* border-radius: 10px; */
    /* opacity: 1; */
    /* left: 0; */
    /* transform: rotate(0deg); */
    /* transition: transform 0.25s ease, opacity 0.25s ease; */
/* } */

/* .menu-icon span:nth-child(1) { */
    /* top: 0; */
/* } */

/* .menu-icon span:nth-child(2) { */
    /* top: 8px; */
/* } */

/* .menu-icon span:nth-child(3) { */
    /* top: 16px; */
/* } */

/* .menu-icon.open span:nth-child(1) { */
    /* transform: rotate(45deg); */
    /* top: 8px; */
/* } */

/* .menu-icon.open span:nth-child(2) { */
    /* opacity: 0; */
/* } */

/* .menu-icon.open span:nth-child(3) { */
    /* transform: rotate(-45deg); */
    /* top: 8px; */
/* } */



.logo {
    /* height: 50px; */
    width: 150px;
    margin: 3rem;
}

.hidden {
    display: none;
}

.pressed {
    color: white;
}